/* HEADLINE */

.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action .attention {
  display: flex;
  padding: 5px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #d20909;
  max-width: 800px;
}

.action .attention h4 {
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 3px #00000096;
  font-size: 17px;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tittle {
  text-align: center;
  padding: 30px 0;
  color: #fff;
  font-size: 23px;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 3px #00000096;
}

.tittle h1 {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tittle .span {
  text-align: center;
  color: #0ea10b;
  font-size: 23px;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 3px #00000096;
  max-width: 950px;
}

.description {
  padding: 11px 0;
  font-size: 16.3px;
  text-shadow: 1px 1px 3px #00000096;
}

/*VIDEO*/

.video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video video {
  margin: 30px 0;
  width: 930px;
  height: 523px;
  flex-shrink: 0;
  border: solid #fff 3px;
  border-radius: 8px;
}

/*SOUND*/
.sound {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}

.sound .sound_content {
  display: flex;
}

.sound .sound_content .image img {
  padding-top: 3px;
  width: 27px;
  height: 27px;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sound .sound_content .sound_text {
  display: flex;
  width: 308px;
  height: 29px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #fff;
  text-shadow: 1px 1px 3px #00000096;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*CTA*/

.button-action-one {
  padding: 30px;
  padding-bottom: 50px;
  display: flex;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.button-action-one .button a {
  display: flex;
  width: 583px;
  height: 58px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Lato", sans-serif;
  font-size: 23px;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.button-action-one .button a {
  width: 451px;
  height: 52px;
  flex-shrink: 0;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: #0ea10b;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-action-one .button a:hover {
  transform: scale(1.05);
  transition: all 0.7s;
}

/*FACEBOOK*/

/*COMENTARIO1*/
.face .imgface img {
  width: 1400px;
  border-radius: 6px;
  margin-top: 20px;
  filter: drop-shadow(2px 2px 7px rgba(0, 0, 0, 0.2));
}

.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.background {
  width: 935px;
  height: 690px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
}

.facebook .descript {
  color: #000;
  padding: 15px 15px;
  display: flex;
  font-size: 16px;
  text-shadow: none;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.facebook .descript p {
  padding-left: 8px;
}

.facebook .descript .line {
  width: 900px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000000;
  margin-top: -15px;
}

.facebook .descript .line span {
  background-color: transparent;
  border-radius: 0;
}

.comentario_1 {
  display: flex;
  gap: 30px;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
}

.comentario_1 .img1 .pessoa1 img {
  left: 239px;
  top: 308px;
  width: 55px;
  height: 55px;
  border: solid 2px black;
  border-radius: 999px;
}

.comentario_1 .background_comentario_1 {
  display: flex;
}

.comentario1 {
  width: 720px;
  background-color: #f5f5f5;
  padding: 20px 23px;
  border: solid 1px #eeeded;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.144));
}

.comentario1 .nome1 {
  text-align: left;
  color: #4269b6;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-style: bold;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #00000015;
}

.comentario1 .menssagem1 {
  font-size: 15px;
  text-align: left;
  color: #424242;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-shadow: 1px 1px 2px #00000015;
}

/*LIKE COMENTARIO 1*/
.comentsection1 {
  display: flex;
  padding-left: 150px;
  margin-top: -20px;
}

.comentsection1 .curtir {
  font-size: 14px;
  color: #4269b6;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 1px 1px 2px #0000000c;
}

.comentsection1 .ponto {
  padding: 0 10px;
  font-size: 14px;
  color: #4269b6;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 1px 1px 2px #0000000c;
}

.comentsection1 .min {
  font-size: 14px;
  color: #646464;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 1px 1px 2px #0000000c;
}

/*LIKE*/
.like_1 {
  display: flex;
  margin-left: 400px;
  margin-top: -20px;
  z-index: 50;
}

.like_1 .background_like1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 3px 7px;
  background: #fff;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
}

.background_like1 .imgheart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background_like1 .imglike {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background_like1 .imgheart img {
  width: 27px;
  height: 24px;
  border-radius: 999px;
  flex-shrink: 0;
}

.background_like1 .imglike img {
  width: 30px;
  height: 27px;
  border-radius: 999px;
  flex-shrink: 0;
}

.background_like1 .textlike {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #4269b6;
  padding: 0 5px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-shadow: 1px 1px 2px #0000000c;
}

/*FOOTER*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 0 0;
  margin-bottom: -40px;
}

.license {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  max-width: 600px;
  gap: 15px;
}

/*RESPONSIVO*/

@media (max-width: 1028px) {
  .video {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video video {
    margin: 30px 0;
    width: 650px;
    height: 365px;
    flex-shrink: 0;
    border: solid #fff 3px;
    border-radius: 8px;
  }

  .tittle {
    text-align: center;
    padding: 30px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.5px;

    text-shadow: 1px 1px 3px #00000096;
  }

  .tittle .span {
    text-align: center;
    color: #0ea10b;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 3px #00000096;
    max-width: 950px;
  }

  .description {
    padding: 11px 0;
    font-size: 14px;
    text-shadow: 1px 1px 3px #00000096;
  }

  /*FACEBOOK*/
  .background {
    width: 650px;
    height: 730px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #fff;
  }

  .facebook .descript {
    color: #000;
    padding: 15px 15px;
    display: flex;
    font-size: 15px;
    text-shadow: none;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
  }

  .facebook .descript p {
    padding-left: 8px;
  }

  .facebook .descript .line {
    width: 610px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
    margin-top: -15px;
  }

  .facebook .descript .line span {
    background-color: transparent;
    border-radius: 0;
  }

  .comentario_1 {
    display: flex;
    gap: 30px;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
  }

  .comentario_1 .img1 .pessoa1 img {
    left: 239px;
    top: 308px;
    width: 45px;
    height: 45px;
    border: solid 2px black;
    border-radius: 999px;
  }

  .comentario_1 .background_comentario_1 {
    display: flex;
  }

  .comentario1 {
    width: 430px;
    background-color: #f5f5f5;
    padding: 20px 23px;
    border: solid 1px #eeeded;
    border-radius: 15px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.144));
  }

  /*LIKE COMENTARIO 1*/
  .comentsection1 {
    display: flex;
    padding-left: 150px;
    margin-top: -20px;
  }

  .comentsection1 .curtir {
    font-size: 14px;
    color: #4269b6;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 1px 1px 2px #0000000c;
  }

  .comentsection1 .ponto {
    padding: 0 10px;
    font-size: 13px;
    color: #4269b6;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 1px 1px 2px #0000000c;
  }

  .comentsection1 .min {
    font-size: 13px;
    color: #646464;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 1px 1px 2px #0000000c;
  }

  /*LIKE*/
  .like_1 {
    display: flex;
    margin-left: 140px;
    margin-top: -20px;
    z-index: 50;
  }
}

@media (max-width: 650px) {
  .action .attention {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    background: #d20909;
    width: 340px;
  }

  .video {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video video {
    margin: 30px 0;
    width: 450px;
    height: 254px;
    flex-shrink: 0;
    border: solid #fff 3px;
    border-radius: 8px;
  }
  .tittlemobile {
    display: block;
  }
  .tittle {
    text-align: center;
    padding: 30px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.5px;

    text-shadow: 1px 1px 3px #00000096;
  }

  .tittle span {
    border-radius: 5px;
    background: #0ea10b;
    padding: 5px 20px 5px 20px;
  }

  .description {
    padding: 11px 0;
    font-size: 14px;
    text-shadow: 1px 1px 3px #00000096;
  }

  /*SOUND*/
  .sound {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
  }

  .sound .sound_content {
    display: flex;
  }

  .sound .sound_content .image img {
    padding-top: 3px;
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .sound .sound_content .sound_text {
    display: flex;
    width: 308px;
    height: 29px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    color: #fff;
    text-shadow: 1px 1px 3px #00000096;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /*CTA*/

  .button-action-one {
    padding: 30px;
    padding-bottom: 50px;
    display: flex;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .button-action-one .button a {
    display: flex;
    width: 583px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }

  .button-action-one .button a {
    width: 321px;
    height: 52px;
    flex-shrink: 0;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: #0ea10b;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  /*FACEBOOK*/
  .background {
    width: 450px;
    height: 760px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #fff;
  }

  .facebook .descript {
    color: #000;
    padding: 15px 15px;
    display: flex;
    font-size: 15px;
    text-shadow: none;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
  }

  .facebook .descript p {
    padding-left: 8px;
  }

  .facebook .descript .line {
    width: 420px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
    margin-top: -15px;
  }

  .facebook .descript .line span {
    background-color: transparent;
    border-radius: 0;
  }

  .comentario_1 {
    display: flex;
    gap: 30px;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
  }

  .comentario_1 .img1 .pessoa1 img {
    left: 239px;
    top: 308px;
    width: 45px;
    height: 45px;
    border: solid 2px black;
    border-radius: 999px;
  }

  .comentario_1 .background_comentario_1 {
    display: flex;
  }

  .comentario1 {
    width: 280px;
    background-color: #f5f5f5;
    padding: 20px 23px;
    border: solid 1px #eeeded;
    border-radius: 15px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.144));
  }

  /*LIKE COMENTARIO 1*/
  .comentsection1 {
    display: flex;
    padding-left: 110px;
    margin-top: -20px;
  }

  .comentsection1 .curtir {
    font-size: 14px;
    color: #4269b6;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 1px 1px 2px #0000000c;
  }

  .comentsection1 .ponto {
    padding: 0 10px;
    font-size: 13px;
    color: #4269b6;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 1px 1px 2px #0000000c;
  }

  .comentsection1 .min {
    font-size: 13px;
    color: #646464;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 1px 1px 2px #0000000c;
  }

  /*LIKE*/
  .like_1 {
    display: flex;
    margin-left: 10px;
    margin-top: -20px;
    z-index: 50;
  }
}

@media (max-width: 450px) {
  .action .attention {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    background: #d20909;
    width: 290px;
  }

  .action .attention h4 {
    color: #fff;
    text-align: center;
    font-family: "Lato", sans-serif;
    text-shadow: 1px 1px 3px #00000096;
    font-size: 14px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .video {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video video {
    margin: 30px 0;
    width: 330px;
    height: 185px;
    flex-shrink: 0;
    border: solid #fff 3px;
    border-radius: 8px;
  }

  .tittle {
    text-align: center;
    padding: 30px 0;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;

    text-shadow: 1px 1px 3px #00000096;
  }

  .tittle .span {
    text-align: center;
    color: #0ea10b;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 3px #00000096;
    max-width: 950px;
  }

  .description {
    padding: 11px 0;
    font-size: 14px;
    text-shadow: 1px 1px 3px #00000096;
  }

  /*SOUND*/
  .sound {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
  }

  .sound .sound_content {
    display: flex;
  }

  .sound .sound_content .image img {
    padding-top: 3px;
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .sound .sound_content .sound_text {
    display: flex;
    width: 250px;
    height: 29px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    color: #fff;
    text-shadow: 1px 1px 3px #00000096;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /*CTA*/

  .button-action-one {
    padding: 30px;
    padding-bottom: 50px;
    display: flex;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .button-action-one .button a {
    display: flex;
    width: 583px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }

  .button-action-one .button a {
    width: 250px;
    height: 52px;
    flex-shrink: 0;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: #0ea10b;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  /*FACEBOOK*/
  .background {
    width: 330px;
    height: 900px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #fff;
  }

  .facebook .descript {
    color: #000;
    padding: 15px 15px;
    display: flex;
    font-size: 15px;
    text-shadow: none;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
  }

  .facebook .descript p {
    padding-left: 8px;
  }

  .facebook .descript .line {
    width: 300px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
    margin-top: -15px;
  }

  .facebook .descript .line span {
    background-color: transparent;
    border-radius: 0;
  }

  .comentario_1 {
    display: flex;
    gap: 0px;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
  }

  .comentario_1 .img1 .pessoa1 img {
    display: none;
  }

  .comentario_1 .background_comentario_1 {
    display: flex;
  }

  .comentario1 {
    width: 190px;
    background-color: #f5f5f5;
    padding: 20px 23px;
    border: solid 1px #eeeded;
    border-radius: 15px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.144));
  }

  /*LIKE COMENTARIO 1*/
  .comentsection1 {
    display: flex;
    padding-left: 50px;
    margin-top: -20px;
  }

  .comentsection1 .curtir {
    font-size: 14px;
    color: #4269b6;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 1px 1px 2px #0000000c;
  }

  .comentsection1 .ponto {
    padding: 0 10px;
    font-size: 13px;
    color: #4269b6;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 1px 1px 2px #0000000c;
  }

  .comentsection1 .min {
    font-size: 13px;
    color: #646464;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 1px 1px 2px #0000000c;
  }

  /*LIKE*/
  .like_1 {
    display: none;
    margin-left: 10px;
    margin-top: -20px;
    z-index: 50;
  }
}
